/*----------------------------------*/
/*---------- Base styles -----------*/
* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
}

.navbar-header {
  padding-top: 25px;
}
.navbar-header h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-header a:hover, .navbar-header a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */
h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 300%;
}


p {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  color: black;
}

section, article {clear: right;}

/* Simple Responsive Framework. */
main {width: 100%;}

div.row {
  position: relative;
  background-color: gray;
  border: solid black  0.5px;
  margin: 25px 0 15px;
  padding-top: 35px;
  width:100%;
  overflow: hidden;
}

/* Section Title Style */
.paragraph-title {
  float: right;
  border: 5px;
  border-color: black;
  text-align: center;
  width: 40%;
  margin-bottom: 13px;
  font-size: 125%; 
  color:white;
} 

section#title {
  position: absolute;
  right: 0;
  top: -35px;
  background-color: black;
  border: solid black 0.5px;
  }
  p>a{
    color:white;
  }
  /* END HOME PAGE */

